In [5]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller

import xgboost as xgb

from math import sqrt
from datetime import datetime

from numpy import concatenate, percentile

from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense, LSTM, Conv1D, TimeDistributed, RepeatVector
from tensorflow.keras.optimizers import Adam
from keras.callbacks import EarlyStopping

!pip install pmdarima
from statsmodels.tsa.seasonal import seasonal_decompose
from pmdarima.arima import auto_arima

Requirement already satisfied: pmdarima in /usr/local/lib/python3.7/dist-packages (1.8.5)
Requirement already satisfied: numpy>=1.19.3 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.1.0)
Requirement already satisfied: statsmodels!=0.12.0,>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.13.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.3.5)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (57.4.0)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.24.3)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.29.30)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->pmdarima) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->pmdarima) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels!=0.12.0,>=0.11->pmdarima) (3.0.9)

In [6]:
#Set parameters to see all data
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [7]:
# Load Train dataset
train = pd.read_csv("train.csv")
train.head(5).append(train.tail(5))

        productsGroup_key  date_key  quantitySales
0                       1  20190902        26784.0
1                       1  20190903         7432.0
2                       1  20190904         1424.0
3                       1  20190905          608.0
4                       1  20190906          776.0
242395                297  20211123           18.0
242396                297  20211124           16.0
242397                297  20211125           16.0
242398                297  20211126           16.0
242399                297  20211127           38.0

In [8]:
# Load submission dataset
submission = pd.read_csv("submission.csv")
submission.head(5).append(submission.tail(5))

      productsGroup_key  date_key  quantitySales  q_0850  q_0900  q_0920  q_0950  q_0990
0                     1  20211128              0       0       0       0       0       0
1                     1  20211129              0       0       0       0       0       0
2                     1  20211130              0       0       0       0       0       0
3                     1  20211201              0       0       0       0       0       0
4                     1  20211202              0       0       0       0       0       0
8311                297  20211221              0       0       0       0       0       0
8312                297  20211222              0       0       0       0       0       0
8313                297  20211223              0       0       0       0       0       0
8314                297  20211224              0       0       0       0       0       0
8315                297  20211225              0       0       0       0       0       0

In [9]:
train['isStationary'] = 0
for product in train.productsGroup_key.unique():
  series = train[train.productsGroup_key == product].quantitySales
  X = series.values
  result = adfuller(X)
  if (result[1] > 0.05):
    train.loc[train['productsGroup_key'] == product, 'isStationary'] = 1

In [10]:
train['isStationary'].value_counts()

0    200862
1     41538
Name: isStationary, dtype: int64

In [11]:
def outlier_detection(arr, isStationary):
  q25, q75 = percentile(arr, 15), percentile(arr, 85)
  iqr = q75 - q25
  if (isStationary == 1):
    # calculate the outlier cutoff
    cut_off = iqr * 1.5
  else:
    # calculate the outlier cutoff
    cut_off = iqr * 0.5
  lower, upper = q25 - cut_off, q75 + cut_off
  return lower, upper

In [12]:
stationary_train = train[train['isStationary'] == 1].copy()
non_stationary_train = train[train['isStationary'] == 0].copy()

In [13]:
for key in stationary_train['productsGroup_key'].unique():
  lower_st, upper_st = outlier_detection(stationary_train[stationary_train['productsGroup_key'] == key]['quantitySales'], 1)

  stationary_train.loc[stationary_train['productsGroup_key'] == key, 'lower'] = lower_st
  stationary_train.loc[stationary_train['productsGroup_key'] == key, 'upper'] = upper_st

In [14]:
for key in non_stationary_train['productsGroup_key'].unique():
  lower_nst, upper_nst = outlier_detection(non_stationary_train[non_stationary_train['productsGroup_key'] == key]['quantitySales'], 0)

  non_stationary_train.loc[non_stationary_train['productsGroup_key'] == key, 'lower'] = lower_nst
  non_stationary_train.loc[non_stationary_train['productsGroup_key'] == key, 'upper'] = upper_nst

In [15]:
stationary_train.iloc[1]

productsGroup_key          60.00
date_key             20190902.00
quantitySales            2331.00
isStationary                1.00
lower                   -8474.85
upper                   14525.55
Name: 48315, dtype: float64

In [16]:
stationary_train.loc[stationary_train['quantitySales'] < stationary_train['lower'], 'quantitySales'] = stationary_train['lower']
stationary_train.loc[stationary_train['quantitySales'] > stationary_train['upper'], 'quantitySales'] = stationary_train['upper']
non_stationary_train.loc[non_stationary_train['quantitySales'] < non_stationary_train['lower'], 'quantitySales'] = non_stationary_train['lower']
non_stationary_train.loc[non_stationary_train['quantitySales'] > non_stationary_train['upper'], 'quantitySales'] = non_stationary_train['upper']

In [17]:
stationary_train.shape, non_stationary_train.shape

((41538, 6), (200862, 6))

In [18]:
train_df = stationary_train.append(non_stationary_train)
train_df.shape

(242400, 6)

In [19]:
train_df2 = train_df.copy()
train_df = train_df[train_df.productsGroup_key == 1]
train_df.shape

(818, 6)

In [20]:
# create a differenced series
def difference(dataset, interval=1):
    diff = list()
    for i in range(interval, len(dataset)):
        value = dataset[i] - dataset[i - interval]
        # print(interval, dataset[i], dataset[i - interval])
        diff.append(value)
    return pd.Series(diff)

In [21]:
train_df.head()

   productsGroup_key  date_key  quantitySales  isStationary   lower    upper
0                  1  20190902        11794.4             0 -3824.8  11794.4
1                  1  20190903         7432.0             0 -3824.8  11794.4
2                  1  20190904         1424.0             0 -3824.8  11794.4
3                  1  20190905          608.0             0 -3824.8  11794.4
4                  1  20190906          776.0             0 -3824.8  11794.4

In [22]:
train_df.index = pd.to_datetime(train_df.date_key)
train_df.head()

                               productsGroup_key  date_key  quantitySales  isStationary   lower    upper
date_key
1970-01-01 00:00:00.020190902                  1  20190902        11794.4             0 -3824.8  11794.4
1970-01-01 00:00:00.020190903                  1  20190903         7432.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020190904                  1  20190904         1424.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020190905                  1  20190905          608.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020190906                  1  20190906          776.0             0 -3824.8  11794.4

In [23]:
diff_values = difference(train_df.quantitySales, 1)
diff_values

0     -4362.4
1     -6008.0
2      -816.0
3       168.0
4        32.0
        ...
812   -8634.4
813    3664.0
814    -448.0
815    2184.0
816   -7984.0
Length: 817, dtype: float64

In [24]:
def split_data_ratio(df, train, submission):
  n_train = train.shape[0] / (train.shape[0] + submission.shape[0])
  n_train = round(df.shape[0] * n_train)
  return n_train

In [25]:
 # split train test datasets

n_train = split_data_ratio(diff_values, train, submission)
xtrain, xtest = diff_values[0:n_train], diff_values[n_train:]

In [26]:
xtrain.shape, xtest.shape

((790,), (27,))

In [27]:
xtrain

0     -4362.4
1     -6008.0
2      -816.0
3       168.0
4        32.0
        ...
785     818.4
786       0.0
787   -8746.4
788   -2128.0
789    -840.0
Length: 790, dtype: float64

In [28]:
xtest

790       24.0
791     9832.0
792     1858.4
793    -8498.4
794     -712.0
795      232.0
796    -2736.0
797     1728.0
798     9986.4
799   -10466.4
800        0.0
801     8704.0
802    -5304.0
803    -4648.0
804     3904.0
805     7810.4
806    -1306.4
807   -10408.0
808     2184.0
809    -1664.0
810     -520.0
811    11714.4
812    -8634.4
813     3664.0
814     -448.0
815     2184.0
816    -7984.0
dtype: float64

In [29]:
# frame a sequence as a supervised learning problem
def timeseries_to_supervised(data, lag=1):
    dfx = pd.DataFrame(data)
    df = dfx.assign(**{
        '{} (t-{})'.format(col, t): dfx[col].shift(t)
        for t in range(lag+1)
        for col in dfx
    })

    df=df.drop([df.columns[0]], axis=1)
    df=df[df.columns[::-1]]
    return df[lag:]

In [30]:
# scale train and test data to [-1, 1] with MinMaxScaler
def scale(train, test):
    # fit scaler
    scaler = MinMaxScaler()  
    
    # StandardScaler()
    scaler = scaler.fit(train)

    # transform train
    train = train.reshape(train.shape[0], train.shape[1])
    tr_scaled = scaler.transform(train)

    # transform test
    test = test.reshape(test.shape[0], test.shape[1])
    ts_scaled = scaler.transform(test)
    
    return scaler, tr_scaled, ts_scaled

In [31]:
# reorganize dataset acording to window size
values_unscaled = np.concatenate((xtrain, xtest))
supervised_raw = timeseries_to_supervised(values_unscaled, 30)

In [32]:
supervised_raw

     0 (t-30)  0 (t-29)  0 (t-28)  0 (t-27)  0 (t-26)  0 (t-25)  0 (t-24)  0 (t-23)  0 (t-22)  0 (t-21)  0 (t-20)  0 (t-19)  0 (t-18)  0 (t-17)  0 (t-16)  0 (t-15)  0 (t-14)  0 (t-13)  0 (t-12)  0 (t-11)  0 (t-10)  0 (t-9)  0 (t-8)  0 (t-7)  0 (t-6)  0 (t-5)  0 (t-4)  0 (t-3)  0 (t-2)  0 (t-1)  0 (t-0)
30    -4362.4   -6008.0    -816.0     168.0      32.0    -704.0     528.0    6624.0   -6080.0     128.0    1432.0    -800.0   -1856.0   11714.4  -11178.4    5640.0   -5408.0     264.0    -664.0    -368.0    4928.0  -2648.0   2472.0  -1440.0   8402.4 -10898.4   -816.0   1112.0    448.0  -1184.0   -376.0
31    -6008.0    -816.0     168.0      32.0    -704.0     528.0    6624.0   -6080.0     128.0    1432.0    -800.0   -1856.0   11714.4  -11178.4    5640.0   -5408.0     264.0    -664.0    -368.0    4928.0   -2648.0   2472.0  -1440.0   8402.4 -10898.4   -816.0   1112.0    448.0  -1184.0   -376.0    728.0
32     -816.0     168.0      32.0    -704.0     528.0    6624.0   -6080.0     128.0    1432.0    -800.0   -1856.0   11714.4  -11178.4    5640.0   -5408.0     264.0    -664.0    -368.0    4928.0   -2648.0    2472.0  -1440.0   8402.4 -10898.4   -816.0   1112.0    448.0  -1184.0   -376.0    728.0   -104.0
33      168.0      32.0    -704.0     528.0    6624.0   -6080.0     128.0    1432.0    -800.0   -1856.0   11714.4  -11178.4    5640.0   -5408.0     264.0    -664.0    -368.0    4928.0   -2648.0    2472.0   -1440.0   8402.4 -10898.4   -816.0   1112.0    448.0  -1184.0   -376.0    728.0   -104.0   -624.0
34       32.0    -704.0     528.0    6624.0   -6080.0     128.0    1432.0    -800.0   -1856.0   11714.4  -11178.4    5640.0   -5408.0     264.0    -664.0    -368.0    4928.0   -2648.0    2472.0   -1440.0    8402.4 -10898.4   -816.0   1112.0    448.0  -1184.0   -376.0    728.0   -104.0   -624.0    576.0
..        ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...
812    -384.0    7544.0    3352.0     818.4       0.0   -8746.4   -2128.0    -840.0      24.0    9832.0    1858.4   -8498.4    -712.0     232.0   -2736.0    1728.0    9986.4  -10466.4       0.0    8704.0   -5304.0  -4648.0   3904.0   7810.4  -1306.4 -10408.0   2184.0  -1664.0   -520.0  11714.4  -8634.4
813    7544.0    3352.0     818.4       0.0   -8746.4   -2128.0    -840.0      24.0    9832.0    1858.4   -8498.4    -712.0     232.0   -2736.0    1728.0    9986.4  -10466.4       0.0    8704.0   -5304.0   -4648.0   3904.0   7810.4  -1306.4 -10408.0   2184.0  -1664.0   -520.0  11714.4  -8634.4   3664.0
814    3352.0     818.4       0.0   -8746.4   -2128.0    -840.0      24.0    9832.0    1858.4   -8498.4    -712.0     232.0   -2736.0    1728.0    9986.4  -10466.4       0.0    8704.0   -5304.0   -4648.0    3904.0   7810.4  -1306.4 -10408.0   2184.0  -1664.0   -520.0  11714.4  -8634.4   3664.0   -448.0
815     818.4       0.0   -8746.4   -2128.0    -840.0      24.0    9832.0    1858.4   -8498.4    -712.0     232.0   -2736.0    1728.0    9986.4  -10466.4       0.0    8704.0   -5304.0   -4648.0    3904.0    7810.4  -1306.4 -10408.0   2184.0  -1664.0   -520.0  11714.4  -8634.4   3664.0   -448.0   2184.0
816       0.0   -8746.4   -2128.0    -840.0      24.0    9832.0    1858.4   -8498.4    -712.0     232.0   -2736.0    1728.0    9986.4  -10466.4       0.0    8704.0   -5304.0   -4648.0    3904.0    7810.4   -1306.4 -10408.0   2184.0  -1664.0   -520.0  11714.4  -8634.4   3664.0   -448.0   2184.0  -7984.0

[787 rows x 31 columns]

In [33]:
supervised_raw = supervised_raw.values.astype("float32")

In [34]:
scaler, train_scaled, test_scaled = scale(xtrain.values.reshape(len(xtrain), 1), xtest.values.reshape(len(xtest), 1))

In [35]:
train_scaled.shape, test_scaled.shape

((790, 1), (27, 1))

In [36]:
values_scaled = np.concatenate((train_scaled, test_scaled))
values_scaled.shape

(817, 1)

In [37]:
n_train

790

In [38]:
supervised = timeseries_to_supervised(values_scaled, 30)

supervised_values = supervised.values.astype('float32')

In [39]:
supervised_values.shape

(787, 31)

In [40]:

##split supervised data into train and test-sets
n_train = split_data_ratio(supervised_raw, train, submission)

supervised_train, supervised_test = supervised_raw[0:n_train], supervised_raw[n_train:]

In [41]:
supervised_train.shape

(761, 31)

In [42]:
supervised_test.shape

(26, 31)

In [43]:
##split supervised data into train and test-sets
train_scaled, test_scaled = supervised_values[0:n_train], supervised_values[n_train:]

In [44]:
train_X, train_y = train_scaled[:, :-1], train_scaled[:, -1]
test_X, test_y = test_scaled[:, :-1], test_scaled[:, -1]

In [45]:
train_y.reshape(train_y.shape[0], 1)

array([[0.4837751 ],
       [0.5309127 ],
       [0.49538872],
       [0.47318622],
       [0.52442276],
       [0.576684  ],
       [0.5128091 ],
       [0.56643665],
       [0.76489276],
       [0.0834472 ],
       [0.47011203],
       [1.        ],
       [0.26028147],
       [0.2798538 ],
       [0.59171337],
       [0.4106777 ],
       [0.48582456],
       [0.47045362],
       [0.6272373 ],
       [0.39803934],
       [0.6204058 ],
       [0.44210276],
       [0.9115316 ],
       [0.03449925],
       [0.46498838],
       [0.8755636 ],
       [0.2064148 ],
       [0.91768   ],
       [0.26164776],
       [0.24774559],
       [0.5186159 ],
       [0.47113678],
       [1.        ],
       [0.4225304 ],
       [0.13160951],
       [0.9453477 ],
       [0.4998292 ],
       [0.02425195],
       [0.4752357 ],
       [0.54047686],
       [0.67539966],
       [0.37276268],
       [0.9108485 ],
       [0.10486405],
       [0.4280981 ],
       [0.4663547 ],
       [1.        ],
       [0.4998292 ],
       [0.23261374],
       [0.42058343],
       [0.4106777 ],
       [0.4557658 ],
       [0.47933462],
       [0.62382156],
       [0.41750923],
       [0.62996995],
       [0.39701462],
       [0.6333857 ],
       [0.33655554],
       [0.4605479 ],
       [0.65797925],
       [0.5534568 ],
       [0.47352782],
       [0.37207952],
       [0.5138339 ],
       [0.46430522],
       [0.4636221 ],
       [0.5466252 ],
       [0.5179328 ],
       [0.74269027],
       [0.36661428],
       [0.6316778 ],
       [0.2357904 ],
       [0.4574737 ],
       [0.76967484],
       [0.3823268 ],
       [0.39735618],
       [0.57360977],
       [0.4130687 ],
       [0.5029034 ],
       [0.46191418],
       [0.6426083 ],
       [0.38915837],
       [0.46567154],
       [0.4998292 ],
       [0.58488184],
       [0.46464682],
       [0.449959  ],
       [0.56233776],
       [0.4489343 ],
       [0.4882156 ],
       [0.6449993 ],
       [0.39701462],
       [0.48445827],
       [0.47284466],
       [0.514517  ],
       [0.9853122 ],
       [0.4998292 ],
       [0.18855035],
       [0.38300997],
       [0.4574737 ],
       [0.47011203],
       [0.5995696 ],
       [0.68530536],
       [0.27438858],
       [0.94022405],
       [0.4998292 ],
       [0.03586556],
       [0.4636221 ],
       [0.68018174],
       [0.34953547],
       [0.62894523],
       [0.47352782],
       [0.40521246],
       [0.49573028],
       [0.46567154],
       [0.5356948 ],
       [0.96413445],
       [0.01229676],
       [0.4998292 ],
       [0.52100694],
       [0.5059776 ],
       [0.45986474],
       [0.75908595],
       [0.7407433 ],
       [0.2097281 ],
       [0.31127885],
       [0.97848064],
       [0.03176663],
       [0.467721  ],
       [0.6528556 ],
       [0.3959899 ],
       [0.494364  ],
       [0.9562782 ],
       [0.11852712],
       [0.40521246],
       [0.47557727],
       [1.        ],
       [0.4413171 ],
       [0.08617981],
       [0.86429155],
       [0.13605   ],
       [0.48992348],
       [0.4810425 ],
       [0.57702553],
       [0.56711984],
       [0.4574737 ],
       [0.8978686 ],
       [0.10349774],
       [0.4161429 ],
       [0.4796762 ],
       [0.5647288 ],
       [0.7628433 ],
       [0.47250307],
       [0.26721546],
       [0.4632805 ],
       [0.49777976],
       [0.47045362],
       [0.52749693],
       [0.9723323 ],
       [0.21075283],
       [0.3225509 ],
       [0.4895819 ],
       [0.5022203 ],
       [0.47386938],
       [0.6600287 ],
       [0.51246756],
       [0.42263287],
       [0.420925  ],
       [0.5090518 ],
       [0.49914604],
       [0.47455254],
       [0.52442276],
       [0.49538872],
       [0.49094823],
       [0.52749693],
       [0.63509357],
       [0.3256251 ],
       [0.4998292 ],
       [0.6764244 ],
       [0.36251536],
       [0.73551714],
       [0.23613198],
       [0.92201805],
       [0.06636836],
       [0.4998292 ],
       [0.73585874],
       [0.44483536],
       [0.81896436],
       [0.02869244],
       [0.47079518],
       [0.50017077],
       [0.49948764],
       [0.4998292 ],
       [0.54457575],
       [0.47899303],
       [0.97608966],
       [0.06934007],
       [0.43014756],
       [0.4998292 ],
       [1.        ],
       [0.02766771],
       [0.9719907 ],
       [0.04338024],
       [0.5415016 ],
       [0.41443503],
       [0.4998292 ],
       [0.5660951 ],
       [0.44790956],
       [0.5367195 ],
       [0.5090518 ],
       [0.43937013],
       [0.5087102 ],
       [0.49094823],
       [0.54491735],
       [0.8355991 ],
       [0.32118458],
       [0.7977866 ],
       [0.05157809],
       [0.46464682],
       [0.48309195],
       [0.57360977],
       [0.45849842],
       [0.51827437],
       [0.659004  ],
       [0.41136083],
       [0.40623719],
       [0.4718199 ],
       [0.5360364 ],
       [0.5029034 ],
       [0.659004  ],
       [0.30137312],
       [0.6938448 ],
       [0.34065446],
       [0.46498838],
       [0.5428679 ],
       [0.5811245 ],
       [0.40794507],
       [0.51554173],
       [0.48445827],
       [0.5025618 ],
       [0.46430522],
       [0.4998292 ],
       [0.6091338 ],
       [0.4752357 ],
       [0.6043517 ],
       [0.36149064],
       [0.49333924],
       [0.45542425],
       [1.        ],
       [0.35284874],
       [0.28668535],
       [0.3649064 ],
       [0.55106574],
       [0.44756797],
       [0.49573028],
       [1.        ],
       [0.03279136],
       [0.57326823],
       [0.44244432],
       [0.47830987],
       [0.50051236],
       [0.47147834],
       [0.6111832 ],
       [0.40555403],
       [0.56131303],
       [0.47250307],
       [0.46259734],
       [0.5011955 ],
       [0.48445827],
       [0.6316778 ],
       [0.38642573],
       [0.5640456 ],
       [0.91733843],
       [0.01229676],
       [0.5117844 ],
       [0.4752357 ],
       [0.5531152 ],
       [0.45371637],
       [0.6883796 ],
       [0.35260963],
       [0.66241974],
       [0.3649064 ],
       [0.4236576 ],
       [1.        ],
       [0.24183631],
       [0.3884752 ],
       [0.6040101 ],
       [0.2873685 ],
       [0.50939333],
       [0.467721  ],
       [0.5192991 ],
       [0.67539966],
       [0.529888  ],
       [0.31913513],
       [0.50563604],
       [0.5070023 ],
       [0.44244432],
       [0.7269777 ],
       [0.3064968 ],
       [0.51144284],
       [0.9545703 ],
       [0.01434622],
       [0.5022203 ],
       [0.4827504 ],
       [0.6706176 ],
       [0.46191418],
       [0.46123105],
       [0.71502256],
       [0.6905315 ],
       [0.01058888],
       [0.48889875],
       [0.5637041 ],
       [0.49641344],
       [0.53740263],
       [0.42843968],
       [0.4940224 ],
       [0.50017077],
       [0.47865146],
       [0.5575557 ],
       [0.46259734],
       [0.49231452],
       [0.5934212 ],
       [0.4072619 ],
       [0.5158833 ],
       [0.46977046],
       [0.53911054],
       [0.8694152 ],
       [0.47421095],
       [0.1654256 ],
       [0.4718199 ],
       [0.5025618 ],
       [0.47626042],
       [0.5756592 ],
       [0.5018787 ],
       [0.9221205 ],
       [0.12296762],
       [0.45713213],
       [0.43971172],
       [0.47933462],
       [1.        ],
       [0.07583003],
       [0.50563604],
       [0.53364533],
       [0.4718199 ],
       [0.43458804],
       [0.47728515],
       [0.5650704 ],
       [0.4557658 ],
       [0.7659175 ],
       [0.33382294],
       [0.3912078 ],
       [0.51110125],
       [0.47591883],
       [0.523398  ],
       [0.50085396],
       [0.53979367],
       [0.8024662 ],
       [0.17669764],
       [0.4752357 ],
       [0.48035935],
       [0.51690805],
       [0.8957166 ],
       [0.10667441],
       [0.98018855],
       [0.4998292 ],
       [0.        ],
       [0.49948764],
       [0.652514  ],
       [0.38096052],
       [0.9661839 ],
       [0.03313294],
       [0.9665255 ],
       [0.03210821],
       [0.46737942],
       [0.56062984],
       [0.5531152 ],
       [0.86429155],
       [0.5189575 ],
       [0.162693  ],
       [0.36900532],
       [0.47011203],
       [0.52681375],
       [0.9730154 ],
       [0.0689985 ],
       [0.4752357 ],
       [0.47113678],
       [0.50017077],
       [0.4834335 ],
       [0.7201462 ],
       [0.37207952],
       [0.47455254],
       [0.64055884],
       [0.32050145],
       [0.48787403],
       [0.48309195],
       [0.56814456],
       [0.8492622 ],
       [0.26311654],
       [0.81896436],
       [0.03244979],
       [0.5688277 ],
       [0.39803934],
       [0.52305645],
       [0.70135945],
       [0.32494193],
       [0.63987565],
       [0.65592974],
       [0.18967755],
       [0.46396366],
       [0.9408048 ],
       [0.08071458],
       [0.5616546 ],
       [0.7126315 ],
       [0.33040717],
       [0.39496517],
       [0.4776267 ],
       [0.72936875],
       [0.3345061 ],
       [0.50017077],
       [0.5059776 ],
       [0.81032246],
       [0.13878262],
       [0.4796762 ],
       [1.        ],
       [0.4998292 ],
       [0.23534636],
       [0.37310424],
       [0.47113678],
       [0.4526916 ],
       [0.46669626],
       [0.5643872 ],
       [0.935442  ],
       [0.10998771],
       [0.4885572 ],
       [0.80417407],
       [0.1391242 ],
       [0.45713213],
       [1.        ],
       [0.4998292 ],
       [0.4998292 ],
       [0.03689029],
       [0.48172563],
       [0.51690805],
       [0.4636221 ],
       [0.5015371 ],
       [0.73551714],
       [0.26721546],
       [0.49504715],
       [0.4998292 ],
       [0.4998292 ],
       [0.4998292 ],
       [0.52237326],
       [0.5415016 ],
       [0.44620165],
       [0.48924032],
       [0.4998292 ],
       [0.4998292 ],
       [0.4998292 ],
       [0.51212597],
       [0.5380858 ],
       [0.45610738],
       [0.503245  ],
       [0.62894523],
       [0.40999454],
       [0.45030057],
       [0.5059776 ],
       [0.5158833 ],
       [0.4827504 ],
       [0.54423416],
       [0.47113678],
       [0.48035935],
       [0.49846292],
       [0.5537983 ],
       [0.5691693 ],
       [0.46806258],
       [0.41443503],
       [0.7153641 ],
       [0.2784875 ],
       [0.49948764],
       [0.5029034 ],
       [0.5025618 ],
       [0.50563604],
       [0.525789  ],
       [0.47284466],
       [0.56746143],
       [0.42160815],
       [0.5264722 ],
       [0.5022203 ],
       [0.48206723],
       [0.503245  ],
       [0.50631917],
       [0.4796762 ],
       [0.49880448],
       [0.56711984],
       [0.43732068],
       [0.6938448 ],
       [0.65934557],
       [0.16610876],
       [0.53364533],
       [0.4414196 ],
       [0.5029034 ],
       [0.5141754 ],
       [0.84687114],
       [0.1462973 ],
       [0.5070023 ],
       [0.48753244],
       [0.4940224 ],
       [0.50563604],
       [0.5196407 ],
       [0.57429296],
       [0.43083072],
       [0.4940224 ],
       [0.5131507 ],
       [0.46123105],
       [0.5708772 ],
       [0.5688277 ],
       [0.57805026],
       [0.68428063],
       [0.144931  ],
       [0.4520085 ],
       [0.4998292 ],
       [0.56746143],
       [0.51554173],
       [0.47011203],
       [0.503245  ],
       [0.46088946],
       [0.4885572 ],
       [0.49299768],
       [0.55482304],
       [0.6996516 ],
       [0.32699138],
       [0.49573028],
       [0.6111832 ],
       [0.3167441 ],
       [0.49368083],
       [0.5995696 ],
       [0.420925  ],
       [0.9791638 ],
       [0.4580544 ],
       [0.54160404],
       [0.34396777],
       [0.15551987],
       [0.5128091 ],
       [0.87043995],
       [0.1288769 ],
       [0.5695109 ],
       [0.42297444],
       [0.49470556],
       [0.49948764],
       [0.4998292 ],
       [0.5039281 ],
       [0.5377442 ],
       [0.95798606],
       [0.4998292 ],
       [0.01571253],
       [0.4837751 ],
       [0.56848615],
       [0.9313431 ],
       [0.41740674],
       [0.09642711],
       [0.98565376],
       [0.34157673],
       [0.15791091],
       [0.55653095],
       [0.66207814],
       [0.4748941 ],
       [0.3488523 ],
       [0.46498838],
       [0.49504715],
       [0.49641344],
       [0.7331261 ],
       [0.3003484 ],
       [0.5753177 ],
       [0.47933462],
       [0.41716763],
       [0.49368083],
       [0.4998292 ],
       [0.7116068 ],
       [0.53911054],
       [0.5011955 ],
       [0.5029034 ],
       [0.25184453],
       [0.49368083],
       [0.49846292],
       [0.5999112 ],
       [0.45986474],
       [0.71809673],
       [0.22178577],
       [0.5059776 ],
       [0.49914604],
       [0.4940224 ],
       [0.57395136],
       [0.47830987],
       [0.45337477],
       [0.49777976],
       [0.51075965],
       [0.48889875],
       [0.49573028],
       [0.4998292 ],
       [0.7888031 ],
       [0.23681514],
       [0.49026507],
       [0.55482304],
       [0.44005328],
       [0.4882156 ],
       [0.52271485],
       [0.5350116 ],
       [0.52886325],
       [0.42263287],
       [0.64192516],
       [0.37003005],
       [0.4776267 ],
       [0.514517  ],
       [0.53330374],
       [0.5158833 ],
       [0.50495285],
       [0.93065995],
       [0.01297992],
       [0.4865077 ],
       [0.6931616 ],
       [0.33177346],
       [0.5602883 ],
       [0.625871  ],
       [0.44551852],
       [0.35841644],
       [0.4837751 ],
       [0.5186159 ],
       [0.5206654 ],
       [0.6866717 ],
       [0.503245  ],
       [0.44517693],
       [0.33245662],
       [0.49197295],
       [0.6409004 ],
       [0.45235005],
       [0.72424513],
       [0.68199205],
       [0.28658286],
       [0.22690941],
       [0.48582456],
       [0.5247643 ],
       [0.56848615],
       [0.90640795],
       [0.4998292 ],
       [0.02083618],
       [0.5018787 ],
       [0.476602  ],
       [1.        ],
       [0.20904495],
       [0.78675365],
       [0.4017967 ],
       [0.3372387 ],
       [0.4632805 ],
       [0.30069   ],
       [0.558922  ],
       [0.94090724],
       [0.4998292 ],
       [0.47342533],
       [0.06773467],
       [0.47250307],
       [0.485483  ],
       [0.59171337],
       [0.69179535],
       [0.43014756],
       [0.7858314 ],
       [0.27052876],
       [0.26243338],
       [0.4663547 ],
       [0.62416315],
       [0.60605955],
       [0.5660951 ],
       [0.29864052],
       [0.49333924],
       [0.43322176],
       [0.47728515],
       [0.7153641 ],
       [0.7844651 ],
       [0.4998292 ],
       [0.4782074 ],
       [0.07490777],
       [0.46157262],
       [0.48445827],
       [0.5982033 ],
       [0.47045362],
       [0.5018787 ],
       [0.4489343 ],
       [0.50017077],
       [0.4868493 ],
       [0.49231452],
       [0.5657535 ],
       [0.5083686 ],
       [0.8687321 ],
       [0.07866511],
       [0.53262055],
       [0.4602063 ],
       [0.48445827],
       [0.53262055],
       [0.5022203 ],
       [0.5408184 ],
       [0.92382836],
       [0.05738489],
       [0.4485927 ],
       [0.49333924],
       [0.8414059 ],
       [0.44790956],
       [0.71034294],
       [0.4998292 ],
       [0.12399235],
       [0.41580135],
       [0.45952317],
       [0.57873344],
       [0.8960582 ],
       [0.10052603],
       [0.92416996],
       [0.11135401],
       [0.40213826],
       [0.48582456],
       [0.65319717],
       [0.45849842],
       [0.64602405],
       [0.741768  ],
       [0.49494466],
       [0.01820604],
       [0.48616615],
       [1.        ],
       [0.09529991],
       [0.59000546],
       [0.43390492],
       [0.41545975],
       [0.4827504 ],
       [0.48138407],
       [0.69760215],
       [0.46123105],
       [0.84082526],
       [0.4998292 ],
       [0.04508813],
       [0.46874574],
       [0.485483  ],
       [1.        ],
       [0.4998292 ],
       [0.15917476],
       [0.39803934],
       [0.78231317],
       [0.17225714],
       [0.48719087],
       [0.5353532 ],
       [0.8434554 ],
       [0.62084985],
       [0.16088264],
       [0.4530332 ],
       [0.4017967 ],
       [0.4834335 ],
       [0.8219361 ],
       [0.6429499 ],
       [0.5347725 ],
       [0.4998292 ],
       [0.12638338],
       [0.4089698 ],
       [0.46396366],
       [0.50085396]], dtype=float32)

In [46]:
# prepare train dataset for lstm
train_X_lstm = train_X.reshape((train_X.shape[0], 1, train_X.shape[1]))
test_X_lstm = test_X.reshape((test_X.shape[0], 1, test_X.shape[1]))

In [47]:
train_X_lstm.shape, test_X_lstm.shape####PAY ATTENTION#####

((761, 1, 30), (26, 1, 30))

In [48]:
# prepare test dataset for lstm
train_Y_lstm = train_y.reshape((train_y.shape[0], 1, 1))
test_Y_lstm = test_y.reshape((test_y.shape[0], 1, 1))

In [49]:
test_scaled[:, -1]

array([0.919627  , 0.5791775 , 0.13697226, 0.4694289 , 0.5097349 ,
       0.38300997, 0.57360977, 0.9262194 , 0.05294439, 0.4998292 ,
       0.87146467, 0.27336386, 0.30137312, 0.6665186 , 0.83331054,
       0.44404975, 0.0554379 , 0.5930796 , 0.42878124, 0.4776267 ,
       1.        , 0.13116546, 0.65627134, 0.4807009 , 0.5930796 ,
       0.15893565], dtype=float32)

# **XGBRegressor**

In [50]:
from sklearn.model_selection import GridSearchCV

In [51]:
# XGBRegressor Training
now = datetime.now()
print("Process started at : ",now)

parameters = { 'gamma' : [0, 0.1, 0.3, 1], 'learning_rate' : [0.001, 0.01, 0.1], 
              'max_depth' : [2, 4, 6, 7, 12], 
              'n_estimators' : [10, 45, 90, 100, 150, 250],
              'nthread' : [-1], 'reg_alpha' : [1], 'reg_lambda' : [1], 'seed' : [10] }

bst = xgb.XGBRegressor()
xgb_grid = GridSearchCV(bst,
                        parameters,
                        cv=5,
                        n_jobs=-1,
                        verbose=True,
                        )
xgb_grid.fit(train_X, train_y, eval_set=[(train_X, train_y)], early_stopping_rounds=50)

end = datetime.now()
print("Process finished at : ", end)
print("Process took : ", end-now)

Process started at :  2022-05-19 10:39:26.796699
Fitting 5 folds for each of 360 candidates, totalling 1800 fits
[10:50:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.194675
Will train until validation_0-rmse hasn't improved in 50 rounds.
[1]	validation_0-rmse:0.190501
[2]	validation_0-rmse:0.186963
[3]	validation_0-rmse:0.183896
[4]	validation_0-rmse:0.181228
[5]	validation_0-rmse:0.178938
[6]	validation_0-rmse:0.176818
[7]	validation_0-rmse:0.174837
[8]	validation_0-rmse:0.173173
[9]	validation_0-rmse:0.171617
[10]	validation_0-rmse:0.170215
[11]	validation_0-rmse:0.168969
[12]	validation_0-rmse:0.167827
[13]	validation_0-rmse:0.166773
[14]	validation_0-rmse:0.165536
[15]	validation_0-rmse:0.164569
[16]	validation_0-rmse:0.163655
[17]	validation_0-rmse:0.162725
[18]	validation_0-rmse:0.161875
[19]	validation_0-rmse:0.161075
[20]	validation_0-rmse:0.160226
[21]	validation_0-rmse:0.159558
[22]	validation_0-rmse:0.158854
[23]	validation_0-rmse:0.158212
[24]	validation_0-rmse:0.157592
[25]	validation_0-rmse:0.156951
[26]	validation_0-rmse:0.156298
[27]	validation_0-rmse:0.155701
[28]	validation_0-rmse:0.155188
[29]	validation_0-rmse:0.154705
[30]	validation_0-rmse:0.15415
[31]	validation_0-rmse:0.15351
[32]	validation_0-rmse:0.152407
[33]	validation_0-rmse:0.151925
[34]	validation_0-rmse:0.151458
[35]	validation_0-rmse:0.151034
[36]	validation_0-rmse:0.150428
[37]	validation_0-rmse:0.149941
[38]	validation_0-rmse:0.14953
[39]	validation_0-rmse:0.148708
[40]	validation_0-rmse:0.148249
[41]	validation_0-rmse:0.147725
[42]	validation_0-rmse:0.147398
[43]	validation_0-rmse:0.147026
[44]	validation_0-rmse:0.146526
[45]	validation_0-rmse:0.14611
[46]	validation_0-rmse:0.145754
[47]	validation_0-rmse:0.145397
[48]	validation_0-rmse:0.144998
[49]	validation_0-rmse:0.144361
[50]	validation_0-rmse:0.144099
[51]	validation_0-rmse:0.143747
[52]	validation_0-rmse:0.143419
[53]	validation_0-rmse:0.143052
[54]	validation_0-rmse:0.142757
[55]	validation_0-rmse:0.142468
[56]	validation_0-rmse:0.142079
[57]	validation_0-rmse:0.141826
[58]	validation_0-rmse:0.14152
[59]	validation_0-rmse:0.141022
[60]	validation_0-rmse:0.140219
[61]	validation_0-rmse:0.139953
[62]	validation_0-rmse:0.139709
[63]	validation_0-rmse:0.139451
[64]	validation_0-rmse:0.139157
[65]	validation_0-rmse:0.138765
[66]	validation_0-rmse:0.138489
[67]	validation_0-rmse:0.138267
[68]	validation_0-rmse:0.13792
[69]	validation_0-rmse:0.137724
[70]	validation_0-rmse:0.137091
[71]	validation_0-rmse:0.13683
[72]	validation_0-rmse:0.136552
[73]	validation_0-rmse:0.13634
[74]	validation_0-rmse:0.136133
[75]	validation_0-rmse:0.13584
[76]	validation_0-rmse:0.135517
[77]	validation_0-rmse:0.135325
[78]	validation_0-rmse:0.134773
[79]	validation_0-rmse:0.134548
[80]	validation_0-rmse:0.134377
[81]	validation_0-rmse:0.134121
[82]	validation_0-rmse:0.133938
[83]	validation_0-rmse:0.133694
[84]	validation_0-rmse:0.133442
[85]	validation_0-rmse:0.133291
[86]	validation_0-rmse:0.133012
[87]	validation_0-rmse:0.132866
[88]	validation_0-rmse:0.132635
[89]	validation_0-rmse:0.132439
[90]	validation_0-rmse:0.132217
[91]	validation_0-rmse:0.131783
[92]	validation_0-rmse:0.131438
[93]	validation_0-rmse:0.131266
[94]	validation_0-rmse:0.131043
[95]	validation_0-rmse:0.130806
[96]	validation_0-rmse:0.130583
[97]	validation_0-rmse:0.130442
[98]	validation_0-rmse:0.13027
[99]	validation_0-rmse:0.130064
[100]	validation_0-rmse:0.129855
[101]	validation_0-rmse:0.129654
[102]	validation_0-rmse:0.129489
[103]	validation_0-rmse:0.129313
[104]	validation_0-rmse:0.129158
[105]	validation_0-rmse:0.128971
[106]	validation_0-rmse:0.128749
[107]	validation_0-rmse:0.128389
[108]	validation_0-rmse:0.1282
[109]	validation_0-rmse:0.128028
[110]	validation_0-rmse:0.127831
[111]	validation_0-rmse:0.127664
[112]	validation_0-rmse:0.127458
[113]	validation_0-rmse:0.127339
[114]	validation_0-rmse:0.127146
[115]	validation_0-rmse:0.127005
[116]	validation_0-rmse:0.126841
[117]	validation_0-rmse:0.126537
[118]	validation_0-rmse:0.126354
[119]	validation_0-rmse:0.126244
[120]	validation_0-rmse:0.126095
[121]	validation_0-rmse:0.125946
[122]	validation_0-rmse:0.125834
[123]	validation_0-rmse:0.125708
[124]	validation_0-rmse:0.125518
[125]	validation_0-rmse:0.125391
[126]	validation_0-rmse:0.125259
[127]	validation_0-rmse:0.125117
[128]	validation_0-rmse:0.124929
[129]	validation_0-rmse:0.124751
[130]	validation_0-rmse:0.124607
[131]	validation_0-rmse:0.124495
[132]	validation_0-rmse:0.124321
[133]	validation_0-rmse:0.124192
[134]	validation_0-rmse:0.124028
[135]	validation_0-rmse:0.123889
[136]	validation_0-rmse:0.123744
[137]	validation_0-rmse:0.123485
[138]	validation_0-rmse:0.123355
[139]	validation_0-rmse:0.123116
[140]	validation_0-rmse:0.122909
[141]	validation_0-rmse:0.122734
[142]	validation_0-rmse:0.122643
[143]	validation_0-rmse:0.122522
[144]	validation_0-rmse:0.122356
[145]	validation_0-rmse:0.122208
[146]	validation_0-rmse:0.122093
[147]	validation_0-rmse:0.121966
[148]	validation_0-rmse:0.121827
[149]	validation_0-rmse:0.121597
[150]	validation_0-rmse:0.121471
[151]	validation_0-rmse:0.121348
[152]	validation_0-rmse:0.121249
[153]	validation_0-rmse:0.12114
[154]	validation_0-rmse:0.121026
[155]	validation_0-rmse:0.120907
[156]	validation_0-rmse:0.120701
[157]	validation_0-rmse:0.120546
[158]	validation_0-rmse:0.120404
[159]	validation_0-rmse:0.120314
[160]	validation_0-rmse:0.120175
[161]	validation_0-rmse:0.12004
[162]	validation_0-rmse:0.11991
[163]	validation_0-rmse:0.119772
[164]	validation_0-rmse:0.119641
[165]	validation_0-rmse:0.119435
[166]	validation_0-rmse:0.119253
[167]	validation_0-rmse:0.119043
[168]	validation_0-rmse:0.118937
[169]	validation_0-rmse:0.118811
[170]	validation_0-rmse:0.118723
[171]	validation_0-rmse:0.118626
[172]	validation_0-rmse:0.118509
[173]	validation_0-rmse:0.118367
[174]	validation_0-rmse:0.118269
[175]	validation_0-rmse:0.11818
[176]	validation_0-rmse:0.118022
[177]	validation_0-rmse:0.117903
[178]	validation_0-rmse:0.117757
[179]	validation_0-rmse:0.117667
[180]	validation_0-rmse:0.117587
[181]	validation_0-rmse:0.117519
[182]	validation_0-rmse:0.117311
[183]	validation_0-rmse:0.117192
[184]	validation_0-rmse:0.117023
[185]	validation_0-rmse:0.116856
[186]	validation_0-rmse:0.116667
[187]	validation_0-rmse:0.116548
[188]	validation_0-rmse:0.11644
[189]	validation_0-rmse:0.116325
[190]	validation_0-rmse:0.116231
[191]	validation_0-rmse:0.116118
[192]	validation_0-rmse:0.116008
[193]	validation_0-rmse:0.115896
[194]	validation_0-rmse:0.115802
[195]	validation_0-rmse:0.115738
[196]	validation_0-rmse:0.115647
[197]	validation_0-rmse:0.115573
[198]	validation_0-rmse:0.115448
[199]	validation_0-rmse:0.115336
[200]	validation_0-rmse:0.11518
[201]	validation_0-rmse:0.11509
[202]	validation_0-rmse:0.114908
[203]	validation_0-rmse:0.114776
[204]	validation_0-rmse:0.114676
[205]	validation_0-rmse:0.114557
[206]	validation_0-rmse:0.114383
[207]	validation_0-rmse:0.114315
[208]	validation_0-rmse:0.114229
[209]	validation_0-rmse:0.114103
[210]	validation_0-rmse:0.114008
[211]	validation_0-rmse:0.113902
[212]	validation_0-rmse:0.113794
[213]	validation_0-rmse:0.113707
[214]	validation_0-rmse:0.11363
[215]	validation_0-rmse:0.113516
[216]	validation_0-rmse:0.113439
[217]	validation_0-rmse:0.113327
[218]	validation_0-rmse:0.113223
[219]	validation_0-rmse:0.113146
[220]	validation_0-rmse:0.113012
[221]	validation_0-rmse:0.112914
[222]	validation_0-rmse:0.112815
[223]	validation_0-rmse:0.112711
[224]	validation_0-rmse:0.112625
[225]	validation_0-rmse:0.112511
[226]	validation_0-rmse:0.112385
[227]	validation_0-rmse:0.112289
[228]	validation_0-rmse:0.112195
[229]	validation_0-rmse:0.112134
[230]	validation_0-rmse:0.112011
[231]	validation_0-rmse:0.111933
[232]	validation_0-rmse:0.111833
[233]	validation_0-rmse:0.111762
[234]	validation_0-rmse:0.111613
[235]	validation_0-rmse:0.111524
[236]	validation_0-rmse:0.111424
[237]	validation_0-rmse:0.111293
[238]	validation_0-rmse:0.11116
[239]	validation_0-rmse:0.111023
[240]	validation_0-rmse:0.110944
[241]	validation_0-rmse:0.110845
[242]	validation_0-rmse:0.110742
[243]	validation_0-rmse:0.110598
[244]	validation_0-rmse:0.110525
[245]	validation_0-rmse:0.110456
[246]	validation_0-rmse:0.110388
[247]	validation_0-rmse:0.110328
[248]	validation_0-rmse:0.110239
[249]	validation_0-rmse:0.110155
Process finished at :  2022-05-19 10:50:31.849955
Process took :  0:11:05.053256

In [52]:
xgb_grid.best_estimator_

XGBRegressor(max_depth=2, n_estimators=250, nthread=-1, reg_alpha=1, seed=10)

In [53]:
# inverse scaling for a forecasted value
def invert_scale(scaler, X, value):
    new_row = [x for x in X] + [value]
    array = np.array(new_row)
    array = array.reshape(1, len(array))

    inverted = scaler.inverse_transform(array)
    ##print("converting %s to %s" % (value,inverted[0, -1]))
    return inverted[0, -1]

In [54]:
# invert differenced value
def inverse_difference(history, yhat, interval=1):
    return yhat + history[-interval]

In [55]:

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((np.array(y_true) - np.array(y_pred)) / y_true)) * 100

In [56]:
#Invert scale predictions to time series
predictions = list()
start = 26 # test period
l = len(test_scaled) - start
print(l)
rmse = []
mape = []

0

In [57]:
X1, y = test_scaled[l, 0:-1], test_scaled[l, -1]

In [58]:
X1.shape, y.shape

((30,), ())

In [59]:
#Invert scale predictions to time series
predictions = list()
start = 26 # test period
l = len(test_scaled) - start
print(l)
rmse = []
mape = []

for i in range(len(test_scaled)):
    X1, y = test_scaled[l, 0:-1], test_scaled[l, -1]
    X1 = X1[-30:] # ts_window

    # prediction 
    # pred = predict()
    X1 = X1.reshape((1,-1))
    pred = xgb_grid.predict(X1)

    yhat = invert_scale(scaler, X1[0], pred)
        
    l=l+1

    yhat = inverse_difference(train_df['quantitySales'], yhat, len(test_scaled) + 1 - i) # if not stationary 

    predictions.append(yhat)

    rmse.append(sqrt(mean_squared_error([train_df['quantitySales'][n_train:][i]], [yhat])))
    mape.append(mean_absolute_percentage_error([train_df['quantitySales'][n_train:][i]], [yhat]))

0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.

In [60]:
print("Test RMSE:", np.mean(rmse))
print("Test MAPE:", np.mean(mape))

Test RMSE: 7885.618155497756
Test MAPE: 2956.786490999079

In [61]:
result_df = train_df[-26:]
result_df.head()

                               productsGroup_key  date_key  quantitySales  isStationary   lower    upper
date_key
1970-01-01 00:00:00.020211102                  1  20211102         9936.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020211103                  1  20211103        11794.4             0 -3824.8  11794.4
1970-01-01 00:00:00.020211104                  1  20211104         3296.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020211105                  1  20211105         2584.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020211106                  1  20211106         2816.0             0 -3824.8  11794.4

In [62]:
len(predictions), result_df.shape

(26, (26, 6))

In [63]:
result_df['XGB_Predictions'] = predictions
result_df.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                               productsGroup_key  date_key  quantitySales  isStationary   lower    upper  XGB_Predictions
date_key
1970-01-01 00:00:00.020211102                  1  20211102         9936.0             0 -3824.8  11794.4      5007.238268
1970-01-01 00:00:00.020211103                  1  20211103        11794.4             0 -3824.8  11794.4     12900.267526
1970-01-01 00:00:00.020211104                  1  20211104         3296.0             0 -3824.8  11794.4     14797.963205
1970-01-01 00:00:00.020211105                  1  20211105         2584.0             0 -3824.8  11794.4     -5225.839705
1970-01-01 00:00:00.020211106                  1  20211106         2816.0             0 -3824.8  11794.4      1276.412998
1970-01-01 00:00:00.020211107                  1  20211107           80.0             0 -3824.8  11794.4      2861.918742
1970-01-01 00:00:00.020211108                  1  20211108         1808.0             0 -3824.8  11794.4      2914.182341
1970-01-01 00:00:00.020211109                  1  20211109        11794.4             0 -3824.8  11794.4      3958.009791
1970-01-01 00:00:00.020211110                  1  20211110         1328.0             0 -3824.8  11794.4     16753.469430
1970-01-01 00:00:00.020211111                  1  20211111         1328.0             0 -3824.8  11794.4     -4364.202498

In [64]:
result_df.to_csv("result.csv")

# **AutoArima**

In [65]:
train_df[:-26].head(5)

                               productsGroup_key  date_key  quantitySales  isStationary   lower    upper
date_key
1970-01-01 00:00:00.020190902                  1  20190902        11794.4             0 -3824.8  11794.4
1970-01-01 00:00:00.020190903                  1  20190903         7432.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020190904                  1  20190904         1424.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020190905                  1  20190905          608.0             0 -3824.8  11794.4
1970-01-01 00:00:00.020190906                  1  20190906          776.0             0 -3824.8  11794.4

In [74]:
train_df.columns

Index(['productsGroup_key', 'date_key', 'quantitySales', 'isStationary', 'lower', 'upper'], dtype='object')

In [75]:
train_df_arima = train_df.drop(columns = ['productsGroup_key', 'date_key', 'isStationary', 'lower', 'upper'], axis=1)
train_df_arima.head()

                               quantitySales
date_key
1970-01-01 00:00:00.020190902        11794.4
1970-01-01 00:00:00.020190903         7432.0
1970-01-01 00:00:00.020190904         1424.0
1970-01-01 00:00:00.020190905          608.0
1970-01-01 00:00:00.020190906          776.0

In [76]:
arima_train = train_df_arima[:-26]
arima_test = train[-26:]

In [77]:
# Arima Training
now = datetime.now()
print("Arima process started at : ",now)

arima_stepwise_model = auto_arima(train_df_arima, start_p=0, start_q=0,
                           max_p=13, max_q=13, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True,
                           n_jobs=4)#n_jobs for parallel process
end = datetime.now()
print("Arima process finished at : ", end)
print("Process took : ", end-now)

print(arima_stepwise_model)

Arima process started at :  2022-05-19 11:10:01.445091
Performing stepwise search to minimize aic

/usr/local/lib/python3.7/dist-packages/pmdarima/arima/_validation.py:77: UserWarning: stepwise model cannot be fit in parallel (n_jobs=1). Falling back to stepwise parameter search.
  'Falling back to stepwise parameter search.' % n_jobs)

 ARIMA(0,1,0)(0,1,1)[12]             : AIC=inf, Time=1.57 sec
 ARIMA(0,1,0)(0,1,0)[12]             : AIC=16560.599, Time=0.08 sec
 ARIMA(1,1,0)(1,1,0)[12]             : AIC=16236.397, Time=2.70 sec
 ARIMA(0,1,1)(0,1,1)[12]             : AIC=inf, Time=3.86 sec
 ARIMA(1,1,0)(0,1,0)[12]             : AIC=16468.872, Time=0.16 sec
 ARIMA(1,1,0)(2,1,0)[12]             : AIC=16145.625, Time=2.99 sec
 ARIMA(1,1,0)(2,1,1)[12]             : AIC=inf, Time=13.13 sec
 ARIMA(1,1,0)(1,1,1)[12]             : AIC=inf, Time=3.76 sec
 ARIMA(0,1,0)(2,1,0)[12]             : AIC=16157.186, Time=1.51 sec
 ARIMA(2,1,0)(2,1,0)[12]             : AIC=16069.639, Time=3.49 sec
 ARIMA(2,1,0)(1,1,0)[12]             : AIC=16209.572, Time=1.21 sec
 ARIMA(2,1,0)(2,1,1)[12]             : AIC=inf, Time=13.69 sec
 ARIMA(2,1,0)(1,1,1)[12]             : AIC=inf, Time=8.19 sec
 ARIMA(3,1,0)(2,1,0)[12]             : AIC=16036.064, Time=3.52 sec
 ARIMA(3,1,0)(1,1,0)[12]             : AIC=16177.660, Time=1.44 sec
 ARIMA(3,1,0)(2,1,1)[12]             : AIC=inf, Time=20.48 sec
 ARIMA(3,1,0)(1,1,1)[12]             : AIC=inf, Time=7.74 sec
 ARIMA(4,1,0)(2,1,0)[12]             : AIC=15991.128, Time=4.29 sec
 ARIMA(4,1,0)(1,1,0)[12]             : AIC=16108.629, Time=2.13 sec
 ARIMA(4,1,0)(2,1,1)[12]             : AIC=inf, Time=21.54 sec
 ARIMA(4,1,0)(1,1,1)[12]             : AIC=inf, Time=9.38 sec
 ARIMA(5,1,0)(2,1,0)[12]             : AIC=15919.943, Time=5.70 sec
 ARIMA(5,1,0)(1,1,0)[12]             : AIC=16014.935, Time=3.94 sec
 ARIMA(5,1,0)(2,1,1)[12]             : AIC=inf, Time=21.35 sec
 ARIMA(5,1,0)(1,1,1)[12]             : AIC=inf, Time=4.70 sec
 ARIMA(6,1,0)(2,1,0)[12]             : AIC=15855.258, Time=7.09 sec
 ARIMA(6,1,0)(1,1,0)[12]             : AIC=15939.078, Time=3.43 sec
 ARIMA(6,1,0)(2,1,1)[12]             : AIC=inf, Time=37.91 sec
 ARIMA(6,1,0)(1,1,1)[12]             : AIC=inf, Time=5.78 sec
 ARIMA(7,1,0)(2,1,0)[12]             : AIC=15832.699, Time=7.45 sec
 ARIMA(7,1,0)(1,1,0)[12]             : AIC=15910.653, Time=3.94 sec
 ARIMA(7,1,0)(2,1,1)[12]             : AIC=inf, Time=36.25 sec
 ARIMA(7,1,0)(1,1,1)[12]             : AIC=inf, Time=17.48 sec
 ARIMA(8,1,0)(2,1,0)[12]             : AIC=15833.922, Time=9.90 sec
 ARIMA(7,1,1)(2,1,0)[12]             : AIC=inf, Time=21.47 sec
 ARIMA(6,1,1)(2,1,0)[12]             : AIC=15842.170, Time=40.79 sec
 ARIMA(8,1,1)(2,1,0)[12]             : AIC=inf, Time=47.07 sec
 ARIMA(7,1,0)(2,1,0)[12] intercept   : AIC=15834.698, Time=7.96 sec

Best model:  ARIMA(7,1,0)(2,1,0)[12]
Total fit time: 409.164 seconds
Arima process finished at :  2022-05-19 11:16:50.887620
Process took :  0:06:49.442529
 ARIMA(7,1,0)(2,1,0)[12]

In [78]:
# Fit arima model
arima_predicts = arima_stepwise_model.fit(arima_train)

In [79]:
# Predict results with auto-arima
future_forecast = arima_predicts.predict(n_periods=26)

In [80]:
arima_rmse = sqrt(mean_squared_error(train_df_arima['quantitySales'][-26:], future_forecast))

In [81]:
arima_mape = mean_absolute_percentage_error(train_df_arima['quantitySales'][-26:], future_forecast)

In [82]:
print("Test RMSE:", np.mean(arima_rmse))
print("Test MAPE:", np.mean(arima_mape))

Test RMSE: 4071.817181438609
Test MAPE: 711.1249516531625

In [83]:
result_df['Arima_Predictions'] = future_forecast
result_df.to_csv("result.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
result_df.columns

Index(['productsGroup_key', 'date_key', 'quantitySales', 'isStationary', 'lower', 'upper', 'XGB_Predictions', 'Arima_Predictions'], dtype='object')

In [91]:
result_df[:26].shape

(26, 8)

In [315]:
# define parameters
verbose, epochs, batch_size = 1, 25, 50
n_timesteps, n_features, n_outputs = train_X_lstm.shape[1], train_X_lstm.shape[2], train_Y_lstm.shape[1]

In [316]:
n_timesteps, n_features, n_outputs

(1, 30, 1)

In [324]:
# define model
lstm_model = Sequential()
lstm_model.add(Conv1D(filters=32, kernel_size=5,
                  strides=1, padding="causal",
                  activation="relu",
                  input_shape=(n_timesteps, n_features)))

In [325]:
lstm_model.add(LSTM(500, activation='relu', return_sequences=True))
lstm_model.add(LSTM(500, activation='relu', return_sequences=True))

lstm_model.add(TimeDistributed(Dense(1, activation='relu')))
lstm_model.compile(loss='mae', optimizer=Adam(lr=0.001),
              metrics=['acc'])

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [326]:
train_X_lstm.shape, train_Y_lstm.shape

((761, 1, 30), (761, 1, 1))

In [327]:
now = datetime.now()

history = lstm_model.fit(train_X_lstm, train_Y_lstm, epochs=epochs, batch_size=batch_size, validation_data=(test_X_lstm, test_Y_lstm), 
                    callbacks=[EarlyStopping(monitor='val_loss', patience=10)], verbose=verbose, shuffle=False)

lstm_model.summary()

end = datetime.now()
print("LSTM process finished at : ", end)
print("LSTM process took : ", end-now)

Epoch 1/25
16/16 [==============================] - 6s 91ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 2/25
16/16 [==============================] - 1s 58ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 3/25
16/16 [==============================] - 1s 55ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 4/25
16/16 [==============================] - 1s 54ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 5/25
16/16 [==============================] - 1s 55ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 6/25
16/16 [==============================] - 1s 55ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 7/25
16/16 [==============================] - 1s 54ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 8/25
16/16 [==============================] - 1s 55ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 9/25
16/16 [==============================] - 1s 54ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 10/25
16/16 [==============================] - 1s 53ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Epoch 11/25
16/16 [==============================] - 1s 54ms/step - loss: 0.4998 - acc: 0.0013 - val_loss: 0.5006 - val_acc: 0.0000e+00
Model: "sequential_28"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_27 (Conv1D)          (None, 1, 32)             4832

 lstm_60 (LSTM)              (None, 1, 500)            1066000

 lstm_61 (LSTM)              (None, 1, 500)            2002000

 time_distributed_29 (TimeDi  (None, 1, 1)             501
 stributed)

=================================================================
Total params: 3,073,333
Trainable params: 3,073,333
Non-trainable params: 0
_________________________________________________________________
LSTM process finished at :  2022-05-19 12:29:29.751554
LSTM process took :  0:00:14.742887

In [328]:
# Predict results with LSTM Model
lstm_predicts = lstm_model.predict(test_X_lstm, verbose=verbose)

1/1 [==============================] - 0s 456ms/step

In [329]:
# Invert scaled predictons to time series
predictions = list()
start = 26 # test period
l = len(test_scaled) - start

lstm_rmse = []
lstm_mape = []

for i in range(len(test_scaled)):
    X1, y = test_scaled[l, 0:-1], test_scaled[l, -1]
    X1 = X1[-30:] # ts_window

    X1 = X1.reshape((1,-1))

    yhat = invert_scale(scaler, X1[0], lstm_predicts[i][0])
        
    l=l+1

    yhat = inverse_difference(train_df['quantitySales'], yhat, len(test_scaled) + 1 - i)

    predictions.append(yhat)

    lstm_rmse.append(sqrt(mean_squared_error([train_df['quantitySales'][n_train:][i]], [yhat])))
    lstm_mape.append(mean_absolute_percentage_error([train_df['quantitySales'][n_train:][i]], [yhat]))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.

In [330]:
print("LSTM RMSE:", np.mean(lstm_rmse))
print("LSTM MAPE:", np.mean(lstm_mape))

LSTM RMSE: 11830.27692307689
LSTM MAPE: 978.0004163824686

In [104]:
print("LSTM RMSE:", np.mean(lstm_rmse))
print("LSTM MAPE:", np.mean(lstm_mape))

LSTM RMSE: 5828.060676541682
LSTM MAPE: 1684.9838376581667

In [331]:
result_df['LSTM_Predictions'] = predictions
result_df.head(9)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                               productsGroup_key  date_key  quantitySales  isStationary   lower    upper  XGB_Predictions  Arima_Predictions  LSTM_Predictions
date_key
1970-01-01 00:00:00.020211102                  1  20211102         9936.0             0 -3824.8  11794.4      5007.238268        9739.642394          -11602.4
1970-01-01 00:00:00.020211103                  1  20211103        11794.4             0 -3824.8  11794.4     12900.267526        6892.675315           -1770.4
1970-01-01 00:00:00.020211104                  1  20211104         3296.0             0 -3824.8  11794.4     14797.963205        9120.716069              88.0
1970-01-01 00:00:00.020211105                  1  20211105         2584.0             0 -3824.8  11794.4     -5225.839705        4970.170877           -8410.4
1970-01-01 00:00:00.020211106                  1  20211106         2816.0             0 -3824.8  11794.4      1276.412998         199.404751           -9122.4
1970-01-01 00:00:00.020211107                  1  20211107           80.0             0 -3824.8  11794.4      2861.918742        -119.007167           -8890.4
1970-01-01 00:00:00.020211108                  1  20211108         1808.0             0 -3824.8  11794.4      2914.182341        4414.576242          -11626.4
1970-01-01 00:00:00.020211109                  1  20211109        11794.4             0 -3824.8  11794.4      3958.009791        6011.956767           -9898.4
1970-01-01 00:00:00.020211110                  1  20211110         1328.0             0 -3824.8  11794.4     16753.469430        4730.531214              88.0

In [332]:
result_df.to_csv("result.csv")

In [333]:
result_df.head()

                               productsGroup_key  date_key  quantitySales  isStationary   lower    upper  XGB_Predictions  Arima_Predictions  LSTM_Predictions
date_key
1970-01-01 00:00:00.020211102                  1  20211102         9936.0             0 -3824.8  11794.4      5007.238268        9739.642394          -11602.4
1970-01-01 00:00:00.020211103                  1  20211103        11794.4             0 -3824.8  11794.4     12900.267526        6892.675315           -1770.4
1970-01-01 00:00:00.020211104                  1  20211104         3296.0             0 -3824.8  11794.4     14797.963205        9120.716069              88.0
1970-01-01 00:00:00.020211105                  1  20211105         2584.0             0 -3824.8  11794.4     -5225.839705        4970.170877           -8410.4
1970-01-01 00:00:00.020211106                  1  20211106         2816.0             0 -3824.8  11794.4      1276.412998         199.404751           -9122.4